# Entornos Virtuales
.venv/
venv/
env/
ENV/

# Archivos y carpetas generados por Python
__pycache__/
*.py[cod]
*$py.class

# Herramientas de Test (pytest, etc.)
.pytest_cache/
.coverage
htmlcov/

# Salidas de resultados (opcional, si no deseas versionar los json generados temporalmente)
# data/output/*.json

database.db
*.db
*.sqlite
populate_from_json.py
*.txt

# Variables de entorno
.env
